@model TournamentsIndexViewModel

@{
    ViewData["Title"] = "Turnaje";
}

<div class="text-center mb-5">
    <h1 class="display-4">Seznam turnajů</h1>
</div>

<form method="get" class="mb-3" id="FilterForm">
    <input type="hidden" name="Page" value="1" />

    <div class="card shadow-sm">
        <div class="card-body">
            <div class="row g-3 align-items-end">

                <div class="col-12 col-md-5 col-lg-4">
                    <label class="form-label">Hledat</label>

                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               id="searchInput"
                               name="Search"
                               value="@Model.Result.Search"
                               placeholder="Název, Adresa..." />

                        <button type="button"
                                class="btn btn-outline-primary"
                                id="clearSearchBtn"
                                title="Vymazat">
                            ✕
                        </button>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-3">
                    <label class="form-label">Řazení</label>
                    <select name="SortBy" class="form-select" id="sortSelect">
                        <option value="">-- Vyberte --</option>
                        @foreach (var option in Model.SortOptions)
                        {
                            if (option.Value == Model.Result.SortBy)
                            {
                                <option value="@option.Value" selected>@option.Text</option>
                            }
                            else
                            {
                                <option value="@option.Value">@option.Text</option>
                            }
                        }
                    </select>
                </div>

                <div class="col-12 col-md-4 col-lg-3">
                    <label class="form-label">Počet výsledků</label>
                    <select name="PageSize" class="form-select" id="pageSize">
                        @foreach (var option in OptionsBuilder.GetPageSizeOptions())
                        {
                            if (option.Value == Model.Result.PageSize.ToString())
                            {
                                <option value="@option.Value" selected>@option.Text</option>
                            }
                            else
                            {
                                <option value="@option.Value">@option.Text</option>
                            }
                        }
                    </select>
                </div>

                <div class="col-12 col-md-3 col-lg-2">
                    <div class="form-check mt-4">
                        <input class="form-check-input"
                               type="checkbox"
                               name="Desc"
                               value="true"
                               id="descCheck"
                               @(Model.Result.Desc ? "checked" : "") />
                        <label class="form-check-label" for="descCheck">
                            Sestupně
                        </label>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

@if(User.IsInRole(nameof(AdminRole.Admin)))
{
    <div class="d-flex justify-content-end my-2">
    <a type="button" class="btn btn-primary" asp-controller="Tournament" asp-action="Create">
        Přidat turnaj
    </a>
</div>
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Název</th>
                <th>Adresa</th>
                <th>Datum</th>
                <th>Stav</th>
                <th>Vítěz</th>
                <th>Počet hráčů v týmu</th>
                <th>Počet týmů</th>
                <th>Počet zápasů</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Result.Items is not null && Model.Result.Items.Count > 0)
            {
                @foreach (var item in Model.Result.Items)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Address</td>
                        <td>@item.Date.ToString("dd.MM.yyyy")</td>
                        <td>@EnumHelper.GetCzechStatusName(item.Status)</td>
                        <td>
                            <span class="@(item.WinnerName != null ? "badge bg-gold px-3 py-2 rounded-pill" : "")">
                                @(item.WinnerName is null ? "Neurčeno" : item.WinnerName)
                            </span>
                        </td>
                        <td>@item.TeamPlayersCount</td>
                        <td>@(item.TeamsCount == 0 ? "Zatím nejsou teamy" : item.TeamsCount)</td>
                        <td>@(item.MatchesCount == 0 ? "Zatím nejsou zápasy" : item.MatchesCount)</td>
                        <td>
                            <div class="d-flex align-items-center gap-2 flex-nowrap">
                                <a class="btn btn-sm btn-outline-info"
                                   asp-controller="Tournament"
                                   asp-action="Detail"
                                   asp-route-id="@item.Id">
                                    @(User.Identity?.IsAuthenticated == true ? "Správa" : "Detail")
                                </a>

                                @if (User.IsInRole(nameof(AdminRole.Admin)))
                                {
                                    @if (item.TeamsCount == 0)
                                    {
                                        <form asp-controller="Tournament"
                                              asp-action="Delete"
                                              asp-route-id="@item.Id"
                                              method="post"
                                              class="d-inline"
                                              onsubmit="return confirm('Opravdu chcete turnaj: @item.Name smazat?');">

                                            @Html.AntiForgeryToken()

                                            <button type="submit" class="btn btn-sm btn-danger">
                                                Smazat
                                            </button>
                                        </form>

                                        <a class="btn btn-sm btn-warning"
                                           asp-controller="Tournament"
                                           asp-action="Update"
                                           asp-route-id="@item.Id">
                                            Upravit
                                        </a>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-sm btn-danger" disabled>
                                            Smazat
                                        </button>

                                        <button type="button" class="btn btn-sm btn-warning" disabled>
                                            Upravit
                                        </button>
                                    }
                                }
                                else
                                {
                                    <span class="text-danger fw-bold ms-1">Nemáte oprávnění</span>
                                }
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9">
                        <div class="alert alert-warning mb-0">
                            Zatím není žádný turnaj
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.Result.TotalPages > 1)
    {
        <div class="d-flex justify-content-center">
            <nav>
                <ul class="pagination">

                    <li class="page-item @(Model.Result.HasPrevious ? "" : "disabled")">
                        <a class="page-link"
                           asp-controller="Tournament"
                           asp-action="Index"
                           asp-route-Page="@(Model.Result.Page - 1)"
                           asp-route-PageSize="@Model.Result.PageSize"
                           asp-route-Search="@Model.Result.Search"
                           asp-route-SortBy="@Model.Result.SortBy"
                           asp-route-Desc="@Model.Result.Desc">
                            Předchozí
                        </a>
                    </li>

                    @for (int i = 1; i <= Model.Result.TotalPages; i++)
                    {
                        <li class="page-item @(Model.Result.Page == i ? "active" : "")">
                            <a class="page-link"
                               asp-controller="Tournament"
                               asp-action="Index"
                               asp-route-Page="@i"
                               asp-route-PageSize="@Model.Result.PageSize"
                               asp-route-Search="@Model.Result.Search"
                               asp-route-SortBy="@Model.Result.SortBy"
                               asp-route-Desc="@Model.Result.Desc">
                                @i
                            </a>
                        </li>
                    }

                    <li class="page-item @(Model.Result.HasNext ? "" : "disabled")">
                        <a class="page-link"
                           asp-controller="Tournament"
                           asp-action="Index"
                           asp-route-Page="@(Model.Result.Page + 1)"
                           asp-route-PageSize="@Model.Result.PageSize"
                           asp-route-Search="@Model.Result.Search"
                           asp-route-SortBy="@Model.Result.SortBy"
                           asp-route-Desc="@Model.Result.Desc">
                            Další
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    }
</div>


<div class="d-flex justify-content-start mt-3">
    <a type="button" class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">
        Domů
    </a>
</div>